/* CSS Document */
*, *::after, *::before {
  box-sizing: border-box;  
}

/*********************/
/* Custom properties */
/*********************/

:root {
  --main-color: #00ab84;
  --green-background-color: #e6f6f3;
  --grey-background-color: #f8f8f7;
  --beige-background-color: #FAF2EC;
  
  --text-color: #2d2a24;
  --accent-color: #7d7a75;

  --white-color:#fff;
  --button-color: #fff;
}

@media (prefers-color-scheme:dark) {
  :root {
    /* dark theme */
    --main-color: #015c47;
    --green-background-color:#181C20;
    --grey-background-color:  #282C30;
    
    --text-color:#D8DCE0;
    --accent-color:#A8ACB0;

    --white-color: #181C20;
    --button-color: rgb(222, 222, 222);
  }
}

/***********************************/
/* Algemene stijlen + HTML en Body */
/***********************************/

html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'tenez', helvetica, arial, sans-serif;
  color: var(--button-color);
  background-color: var(--white-color);
  
  margin: 0;
  padding: 0;

  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
  grid-template-areas: 'header' 'section' 'footer';
}



/*********************/
/* Header en banner */
/*********************/

header {
  background-image: url('https://cdn.shopify.com/s/files/1/0150/6262/files/greens-and-anthuriums_mobile_1278x.jpg?v=1617640574');
  background-size: cover;
    
  margin: 0;
  padding: 0; 

  height: 200vw;
  max-height: calc(100vh - 10em);
  min-height: 30em;

  grid-area: header;
}

header h2 {
  font-weight: bold;
  font-style: normal;
  color: #2d2a24; /* geen var door de dark mode */
  text-decoration: none;
  font-size: 3rem;
  line-height: 4rem; 
  
  padding: 0 2rem;
  max-width: 30rem;
  margin-top: 8rem;
  margin-bottom: 0;
}

h2 {
  font-weight: bold;
  font-style: normal;
  color: var(--text-color);
  text-decoration: none;
  font-size: 3rem;
  line-height: 4rem; 

  padding-left: 2rem;
  max-width: 30rem;
  margin-top: 8rem;
  margin-bottom: 0;

  padding-right: 2rem;
}

header p {
    color: #2d2a24; /* geen var door de dark mode */
}


/* Call to action knop */

a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: normal;
}

header section:nth-of-type(2) a {
  padding: 1rem 1.2rem;
  margin: 0 0 0 2rem;
  width: 30vw;

  background-color: var(--main-color);
  color: var(--button-color);

  display: inline-block;
  position: relative;
  border: none;
  border-radius:.3rem;
  box-sizing: border-box;

  text-align:center;
  font: inherit;
  font-weight: normal;

  box-shadow:inset 0 -.6rem 0 -.4rem rgba(0,0,0,0.17);

  transition: .4s ease-in-out;
}

header section:nth-of-type(2) a:hover {
  text-decoration: none;
  font-weight: bold;
  border-radius: 5rem;
}

header section:nth-of-type(2) a:focus {
  outline: none;
  border: 3px solid #e08f43;
  border-radius: 3px;
}

header section:nth-of-type(2) a:active {
  background-color: #20b2aa;
  text-decoration: none;
  font-weight: bold;
  box-shadow: inset 0 .2rem 0 .2rem rgba(0,0,0,0.17);
  cursor:pointer;
}

header section p {
  padding-left: 2rem;
  font-size: 1.2rem;
  padding-right: 2rem;
}


/* Menubalkje */

nav {
  display: flex;
  margin-bottom: 0;
  height: 4.5rem;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--main-color);
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 3; /* 999 index */
}

nav button {
  background-color: var(--button-color);
  color: var(--main-color);

  padding: .5rem 1rem;
  margin: auto;

  display:inline-block;
  position:relative;
  border: none;
  border-radius: .3rem;
  box-sizing: border-box;

  text-align: center;
  font: inherit;
  font-weight:bold;
  text-align: center;
  justify-content: center;

  box-shadow:inset 0 -.6rem 0 -.4rem rgba(0,0,0,0.17);
  cursor: pointer;

  transition: .2s;
}

nav button:hover {
  padding: .5rem 2rem;
}

nav button:focus {
  outline: none;
  border: 3px solid #e08f43;
  border-radius: 3px; 
}

nav button:active {
  background-color: var(--accent-color);
  color:var(--button-color);
  box-shadow: inset 0 .2rem 0 .2rem rgba(0,0,0,0.17);
}

nav h1 {
  order: 1;
  color:var(--text-color);
}

nav button:nth-of-type(2) {
  order: 2;
  z-index: -3;
}

nav button:first-of-type {
  appearance: none;
  position: relative;
  z-index: 3;
}



/******************************/
/* lijst met links uitklappen */
/******************************/

nav ul {
  margin: 0;
  padding: 4em 0;
  background: var(--green-background-color);
  list-style: none;

  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  transform: translateX(-40em);

  transition: .5s;
}

/* class voor javascript: menu schuift het scherm in vanaf de zijkant*/

nav.toonMenu ul {
  transition: .5s;
  transform: translateX(0);
}

nav li {
  margin:0; 
  padding: 1rem;
  border-bottom: solid 1px var(--main-color);
}

nav a {
  color: var(--text-color);
  font-size: 1.5rem;
}

/* de pagina waar je je nu bevindt is dikgedrukt in de menulijst*/

nav a.active {
  font-weight: bold;
}

nav a:active, nav li:active {
  background-color: var(--accent-color);
  color: var(--button-color);
  font-weight: bold;
}

nav a:focus, nav li:focus {
  outline: none;
  border: 3px solid #e08f43;
  border-radius: 3px; 
}

nav a:hover, nav li:hover {
  background-color: var(--main-color);
  color: var(--button-color);
  font-weight: bold;
}

/* het logo in de menubalk */

h1 a {
  font-weight: bold;
  font-style: normal;
  font-size: 1.8rem;
  font-weight: bold;

  position: relative;
  justify-content: center;
  align-items: center;

  color: var(--button-color);
  text-decoration: none;
  outline: none;

  transition: .2s ease-in-out;
}

/* states van logo */

h1 a::before {
  content: "";
  position: absolute;
  background-color:#fff;

  left:.125rem;
  right:.1rem;
  bottom:-.2rem;
  height:.2rem;
  
  border-radius:1em;
  
  transform:scaleX(1);
  transition:.5s;
}

h1 a:hover::before {
  transform:scaleX(0)
}

h1 a:active {
  color: var(--green-background-color);
}




/**************************/
/* DIT IS DE MAIN CONTENT */
/**************************/

/*  Trending Now... productoverzicht */

main section:first-of-type h3 {
  padding-left: 2rem;
}

img {
   width: 18rem;
 }

section {
  grid-area: section;
}

main section:first-of-type ul {
  list-style-type: none;
  display: grid;
  margin: auto;
  grid-template-columns: 1fr 1fr ;
  grid-gap: 1rem;
  justify-content: center;
  padding: 2rem;
}

main section:first-of-type li img {
  width: 100%;
  padding-bottom: 0.5rem;
}

main section:first-of-type ul li:nth-of-type(3) {
grid-column: span 2;
}

main section:first-of-type ul li:nth-of-type(6) {
  grid-column: span 2;
  }

main section:first-of-type img {
  width: 12em;
}

main section:first-of-type p {
  font-weight: normal;
  color: var(--accent-color);
}

main section:first-of-type a {
  font-size: 1rem;
  text-decoration: none;
  color: var(--text-color);
}

main section:first-of-type a:hover {
  cursor: pointer;
  text-decoration: none;
}

main section:first-of-type a:focus {
  font-weight: bold;
}

main section:first-of-type a:active {
  font-weight: bold;
}

h3 {
  font-weight: 600;
  font-style: normal;
  font-size: 2.5rem;
  color: var(--text-color);
  padding-left: 1.5rem;
  margin: 0;
}


/* About the shop: to be human... */

main section:last-of-type {
  margin-bottom: 2rem;
  padding: 0 2rem;
}

main section:last-of-type h2 {
  padding-left: 0rem;
  padding-top: 0rem;
  margin-top: 2rem;
}

main section:last-of-type article {
  margin-top: 2rem;
}

main section:last-of-type h3 {
  padding-left: 0rem;
}

/* icoontjes naast de headings plaatsen*/

main section:last-of-type img {
  width: 4rem;
  float: left;
  padding: 0 1rem 0 0;
}

main section:last-of-type p {
  margin-top: .5rem;
  margin-bottom: .5rem;
  color: var(--text-color);
}




/*****************************/
/* Footer met subscribe form */
/*****************************/

footer {
  grid-area: footer;
  background-color: var(--grey-background-color);
  padding: 2rem;
  margin-bottom: 0;
  display: block;
}

footer h2 {
  padding-left: 0rem;
  margin-top: 2rem;
}

footer p, footer label {
  color: var(--text-color);
}

footer img {
  width: 100%;
  margin-top: 1rem;
}

footer input {
  width: 70vw;
  padding: 1rem;
  margin: 1rem 0;

  box-sizing: border-box;
  border: 2px solid var(--accent-color);
  border-radius: 4px;
  display: block;
  transition:.4s ease-in-out;

  font-family: 'tenez', helvetica, arial, sans-serif;
  font-style: normal;
  font-size: 1rem;
}

footer input:hover {
  border: 3px solid var(--accent-color);
  width: 100%;
}

footer input:focus {
  background-color: var(--green-background-color);
  color: var(--text-color);
  border: 4px solid var(--main-color);
  width: 100%;
  outline: none;
}

footer form label {
  font-weight: bold;
}

footer form input[type=submit] {
  background-color: var(--main-color);
  border: none;
  color: var(--button-color);
  padding: 1rem 2rem;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  width: 100%;
}

footer button {
  background-color: var(--main-color);
  color: var(--button-color);

  padding: .8rem 1.2rem;
  margin: .5rem .5rem .5rem 0;
  width: 30vw;

  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  border-radius:.3rem;
  box-sizing: border-box;

  text-align: center;
  font: inherit;
  font-weight: normal;

  /* schaduw aan de buitenkant van de knop zodat deze 3D lijkt*/
  box-shadow: inset 0 -.6rem 0 -.4rem rgba(0,0,0,0.17);
  cursor:pointer;

  transition: .4s ease-in-out;
}

footer button:hover {
  font-weight: bold;
  width: 100%;
}

footer button:active {
  background-color: #20b2aa;
  text-decoration: none;

  /* schaduw aan de binnenkant alsof je de knop indrukt*/
  box-shadow: inset 0 .2rem 0 .2rem rgba(0,0,0,0.17);
  cursor: pointer;
  width: 100%;
}

footer button:focus {
  outline: none;
  box-shadow: 0 0 0 3px#e08f43;
}

/***************************************/
/* Productpagina van de Monstera plant */
/***************************************/

/* Product foto's */

.product header {
  background-image: url('https://cdn.shopify.com/s/files/1/0150/6262/products/the-sill_monstera_variant_medium_grant_black_587b36b4-4304-47f4-924e-b0bb4dfb0090_1024x.jpg?v=1611287458');
  background-size: cover;
  background-repeat: no-repeat;
    
  margin: 0;
  padding: 0; 

  width: 100%;
  height: 70vh;
}

.product main section:first-of-type h3 {
  padding-left: 0;
}


/* Formulieren */

.product form {
  margin-top: 1.2rem;
  margin-bottom: .5rem;
}

.product form label:first-of-type {
  font-size: 1.2rem;
  font-weight: bold;
  font-family: 'Tenez', helvetica, arial, sans-serif;
  
  margin-bottom: 1rem;
  color: var(--text-color);
}

.product form label {
  color: var(--text-color);
}

.product form input {
  font-size: 1rem;
  font-weight: normal;
}

.product select {
  display: block;
  width: 50%;
  padding: .8rem;
  margin: .5rem 0 0 0;

  font-size: 1rem;
  font-family: 'Tenez', helvetica, arial, sans-serif;

  border: 2px solid var(--text-color);
  border-radius: 4px;

  background-color: var(--button-color);

  transition: .5s;
}

.product select:hover {
  width: 100%;

  border: 4px solid var(--main-color);
  border-radius: 4px;

  cursor:pointer;
}

.product select:focus {
  width: 100%;

  border: 4px solid var(--main-color);
  border-radius: 4px;

  background-color: var(--green-background-color);
}

.product main form:nth-of-type(2) input[type="radio"] {
  width: 1.2rem;
  height: 1.2rem;

  background-color: var(--green-background-color);
  accent-color: var(--main-color);

  cursor: pointer;
}

.product main form:nth-of-type(3) input[type="radio"] {
  width: 1.2rem;
  height: 1.2rem;

  background-color: var(--green-background-color);
  accent-color: var(--main-color);

  cursor: pointer;
}

.product main input[type="color"] {
  cursor: pointer;
}

.product main button {
  background-color: var(--main-color);
  color: var(--button-color);

  padding: .8rem 1.2rem;
  margin: .5rem 0rem .5rem 0;
  width: 100%;

  border: none;
  border-radius:.3rem;
  box-sizing: border-box;

  text-align: center;
  font-family:'Tenez', helvetica, arial, sans-serif;
  font: inherit;

  box-shadow: inset 0 -.6rem 0 -.4rem rgba(0,0,0,0.17);
  cursor:pointer;

  transition: .2s ease-in-out;
}

.product main button:hover {
  font-weight: bold;
  width: 100%;
}

.product main button:active {
  background-color: #20b2aa;
  text-decoration: none;
  box-shadow: inset 0 .2rem 0 .2rem rgba(0,0,0,0.17);
  cursor:pointer;
  width: 100%;
}

.product main button:focus {
  outline: none;
  box-shadow: 0 0 0 3px#e08f43;
}

/* discount link */

.product main section:first-of-type a {
  color: var(--main-color);
  font-weight: normal;
  text-decoration: underline;

  display: flex;
  text-align: center;
  justify-content: center;

  padding-top: .5rem;
}

.product main section:first-of-type a:hover {
  font-weight: bold;
  text-decoration: none;
  color: var(--text-color);
}

.product main section:first-of-type a:active {
  background-color: var(--green-background-color);
}

.product main section:first-of-type a:focus {
  outline: none;
  box-shadow: 0 0 0 3px#e08f43;
}


/* Details over de plant */

.product main section:nth-of-type(2) {
  padding-top: 0rem;
  max-width: 30rem;
  margin-bottom: 0;
  margin-right: 0;
}

.product main section:nth-of-type(2) ul{
  list-style-type: none;
}

.product main section:nth-of-type(2) h2 {
  padding-left: 0rem;
  padding-top: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.product main section:nth-of-type(2) h3 {
  padding-left: 0rem;
  padding-top: 2rem;
}

.product main section:nth-of-type(2) img {
  width: 2.5rem;
  margin-right: 1rem;
  margin-bottom: .5rem;
}

.product main section:nth-of-type(2) p {
  color: var(--text-color);
}


/* Toggle More Details */

.product main section:nth-of-type(2) details {
  font-weight: bold;
  font-size: 1.2rem;
  color: var(--text-color);
}

.product main section:nth-of-type(2) details summary:hover {
  user-select: none;
  cursor: pointer;
  color: var(--main-color);
}

.product main section:nth-of-type(2) details summary:active {
  background-color: var(--grey-background-color);
}

.product main section:nth-of-type(2) details summary:focus {
  outline: none;
  border: 3px solid #e08f43;
  border-radius: 3px;
}

.product main section:nth-of-type(2) details a {
  color: var(--text-color);
  font-size: 1.1rem;
  text-decoration: underline;

  transition: .2s ease-in-out;
}

.product main section:nth-of-type(2) details a:hover {
  font-weight: bold;
  text-decoration: none;
  color: var(--main-color);
}

.product main section:nth-of-type(2) details a:active {
  background-color: var(--green-background-color);
}

.product main section:nth-of-type(2) details a:focus {
  outline: none;
  border: 3px solid #e08f43;
  border-radius: 3px;
}

.product main section:nth-of-type(2) li {
  display: flex;
  align-items: center;
  font-weight: normal;
  font-size: 1.1rem;
}


/* You Might Like these other products */

.product main section:nth-of-type(3) ul {
  list-style-type: none;

  display: grid;
  margin: auto;
  grid-template-columns: 1fr 1fr ;
  grid-gap: 1rem;
  justify-content: center;
  padding: 0rem;
}

.product main section:nth-of-type(3) h2 {
  padding-top: 3rem;
  padding-bottom: 1rem;
}

.product main section:nth-of-type(3) li img {
  width: 100%;
  padding-bottom: 0.5rem;
}

.product main section:nth-of-type(3) p {
  font-weight: normal;
  color: var(--accent-color);
}

.product main section:nth-of-type(3) a {
  font-size: 1rem;
  text-decoration: none;
  color: var(--text-color);
}

.product main section:nth-of-type(3) a:hover {
  cursor: pointer;
  text-decoration: none;
}

.product main section:nth-of-type(3) a:focus {
  font-weight: bold;
}

.product main section:nth-of-type(3) a:active {
  font-weight: bold;
}

.product main {
  padding: 0 2rem;
}

.product h3 {
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 0;
  font-size: 2rem;
}

.product h2 {
  margin-top: 0rem;
  margin-bottom: 0rem;
  padding: 0rem;
  font-size: 2.5rem;
}

/* Video instructies */

.product main section:nth-of-type(4) h2 {
  margin-top: 2rem;
}

.product iframe {
  width: 100%;
  height: 20rem;
}

/* Plant Bio uitleg */

.product main section:nth-of-type(5) h2 {
  margin-top: 2rem;
}

.product main section:nth-of-type(5) p {
    color: var(--text-color);
}

.product main section:nth-of-type(5) a {
  background-color: var(--button-color);
  color: var(--accent-color);

  padding: .8rem 1.2rem;
  margin: .5rem .5rem .5rem 0;
  width: 100%;

  display: inline-block;
  position: relative;

  border: 1px solid var(--accent-color);
  border-radius: 0rem;
  box-sizing: border-box;

  text-align: center;
  font: inherit;

  transition: .2s;
}

.product main section:nth-of-type(5) a:hover {
  background-color: var(--grey-background-color);
  color: var(--text-color);

  border: 3px solid var(--text-color);
  border-radius:.5rem;

  font-weight: bold;
}

.product main section:nth-of-type(5) a:active {
  background: var(--accent-color);
  color:var(--button-color);
}

.product main section:nth-of-type(5) a:focus {
  outline: none;
  box-shadow: 0 0 0 3px#e08f43;
}

/* Blog artikelen overzicht */

.product main section:last-of-type {
  padding: 0rem;
}

.product main section:last-of-type ul {
  list-style-type: none;
  display: grid;
  margin: auto;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.5rem;
  justify-content: center;
  padding: 0rem;
  margin-right: 0;
}

.product main section:last-of-type li img {
  padding: 0rem;
  width: 100%;
  height: auto;
}

.product main section:last-of-type h3 {
  font-weight: bold;
  font-style: normal;
  color: var(--text-color);
  text-decoration: none;
  font-size: 1.5rem;
  line-height: 2rem; 

  /* max-width: 50rem; */
  margin-top: 1rem;
  margin-bottom: 0;
}

.product main section:last-of-type p {
  color: var(--accent-color);
  text-decoration: none;
  font-size: 1rem;
  line-height: 1rem; 
} 