/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}

/* Custom properties */
:root {
  --main-color: #00ab84;
  --green-background-color: #e6f6f3;
  /* achtergrondkleur You Might Like section productpage*/
  --grey-background-color: #f8f8f7;
  /* achtergrondkleur header*/
  --beige-background-color: #FAF2EC;
  
  --text-color: #2d2a24;
  /* more options link bij productoverzicht */
  --accent-color: #7d7a75;

  --button-color: white;
  --button-background-color: #00ab84;

}
/* Algemene stijlen + HTML en Body */
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding:0;

  font-family: 'Tenez', Helvetica, Arial, sans-serif;
}

 img {
   width: 30em;
 }

 /* Header */
 header {
    background-color: var(--green-background-color);
    position: relative;
    padding: 1em;
 }

 header p {
   background-color: var(--main-color);
   color: white;

   position: absolute;
   top:0;
   left:0;
   right:0;
   padding:.5em;
   margin:0 0 1em 0;
 }

 nav {

 }

 ul {

 }

 li {

 }

a {
  text-decoration: none;
  color: var(--text-color);
}

h1 {
  font-size: 2em;
  font-weight:600;
  color: var(--text-color);
  text-decoration: underline;
  letter-spacing: 0.01em;

}

 /* Footer */

 /* Main */

 main section:first-of-type {
    position: relative;
    
 }

 main section:first-of-type img {
   
 }

 main h2 {
   font-family: 'Tenez', Helvetica, Arial, sans-serif;
   font-size: 42px;
 }

 /* Section 1: banner */

 /* Section 2: Trending Now */


