/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}

/* Custom properties */
:root {
  --main-color: #00ab84;
  --background-color: #e6f6f3;
  --highlight-color: ;

  --p-color: #2d2a24;
  /* achtergrondkleur You Might Like section productpage*/
  --p-background-color: #f8f8f7;

  --button-color: white;
  --button-background-color: #00ab84;

  /* more options link bij productoverzicht */
  --accent-color: #7d7a75;
  --accent-background-color: ;

  /* states */
  --a-focus-color: darkseagreen;
  --active-color: salmon; 
  --visited-color: slateblue;
  --button-focus-color: rgb(0, 182, 173);
}
/* Algemene stijlen + HTML en Body */
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding:0;

  font-family: 'Tenez', Helvetica, Arial, sans-serif;
}

 img {
   width: 400px;
 }

 /* Header */
 header {

 }

 nav {

 }

 ul {

 }

 li {

 }

 a {
   
 }

 /* Footer */

 /* Main */

 /* Section 1: banner */

 /* Section 2: Trending Now */


